html,
header {
  background-image: url("assets/notebook.png");
  background-repeat: no-repeat;
  background-size: 1000px;
}
body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

button {
  border: none;
  padding: 5px;
  font-family: "Special Elite";
  background: #dedad1;
}
